<form (ngSubmit)="submit()" #itemForm="ngForm">
  <input
    type="text"
    name="description"
    [(ngModel)]="item.itemId"
    placeholder="Description"
    required
  />

  <input
    type="number"
    name="quantity"
    [(ngModel)]="item.quantity"
    placeholder="Quantity"
    min="1"
    required
  />

  <input
    type="number"
    name="unitPrice"
    [(ngModel)]="item.amount"
    placeholder="Unit Price"
    min="0"
    required
  />

  <button type="submit" [disabled]="itemForm.invalid">Add Item</button>
</form>
