form {
    width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
  }
  
  
  input {
    margin: 3px 0;
    padding: 8px;
  }
  
  button {
    margin-top: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .custom-card {
    border: 1px solid;
    padding: 15px;
    margin: 10px 30px 10px 30px;
  }
  .custom-card-header {
    font-size: 40px;
  }

  .submit-btn {
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    transition: all 0.4s;
  }