
<div class="row" style="min-height: 100vh;">
    <div class="col-md-2 large-tab shadow" style="margin-top: 5px;background-color: #f8f9fa;text-align: center;">
        
          <ul class="nav nav-pills row">
            @for(tab of tabs; track tab.name; let index = $index){
              <li class="nav-item">
                <a (click)="setSelectedTab(index)"  class="nav-link {{index==selectedTab?'active':''}}" aria-current="page">
                    {{tab.name}} <mat-icon style="float: left;">receipt</mat-icon> 
                </a>
              </li>
          }
          <li class="nav-item">
            <a (click)="addTab()" class="nav-link" aria-current="page">
                <mat-icon>add</mat-icon>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="openDialog()" class="nav-link" aria-current="page">
                <mat-icon>search</mat-icon>
            </a>
          </li>
          </ul>
</div>
<div class="col-12 col-md-9 order-1 order-md-1">
<ul class="nav nav-tabs mobile-tabs" style="margin-top: 15px;">
@for (tab of tabs; track tab.name; let index = $index) {
    <!-- <li class="nav-item tab-item">
        <div class="nav-link  {{index==selectedTab?'active':''}}" aria-current="page">
        <div class="row">
            <div class="col-md-9" (click)="setSelectedTab(index)" style="width: 75%;">
                {{tab.name}} <mat-icon style="float: left;">receipt</mat-icon> 
            </div>
            <div class="col-md-3" style="float: right;">  
            </div>
        </div>
        </div>
    </li> -->
    <li class="nav-item tab-item-add" title="exsistingbill">
        <div class="nav-link {{index==selectedTab?'active':''}}" aria-current="page"  aria-current="page" (click)="setSelectedTab(index)">
            <mat-icon>receipt</mat-icon>
        </div>
    </li>
    }
    <li class="nav-item tab-item-add" title="Add new bill">
        <div class="nav-link" aria-current="page" (click)="addTab()">
            <mat-icon>add</mat-icon>
        </div>
    </li>
    <li class="nav-item tab-item-add "  title="Search">
        <div class="nav-link" aria-current="page" (click)="openDialog()">
            <mat-icon>search</mat-icon>
        </div>
    </li>
</ul>    
<div class="container" style="margin-top:5px ;">
    <div class="row">
        <div class="col-md-12">
            
            <button mat-raised-button
            class="btn-custom"
                    (click)="onSubmit()">
            Complete <mat-icon>done</mat-icon>
            </button>

            <button mat-raised-button
            class="btn-custom"
            style="right: 0px;"
            (click)="downloadBill()">
                Download <mat-icon>download</mat-icon>
                </button>

            <button mat-raised-button style="float: right;"
            class="btn-custom"
                (click)="removeTab(selectedTab)">
                Close <mat-icon>close</mat-icon>
                </button>

        </div>
    </div>


    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">
            <div>
                <input placeholder="Customer name" class ="col-md-9" [(ngModel)]="tabs[selectedTab].bill.name" matInput id="Name" width="100" (focusout)="setTabName()" />
                <label for="Date" style="margin-left: 20px;">Date: {{tabs[selectedTab].bill.billDate?.toLocaleString()}}</label>
            </div>
            <div style="margin-top: 10px;">
                <input placeholder="Customer mobile" id="Mobile" [(ngModel)]="tabs[selectedTab].bill.mobile" class ="col-md-9"  />
            </div>
        </div>



    </div>
    <div class="row" style="margin-top: 15px;">
       
        <table class="">
            <thead>
                <tr>
                <td class="" scope="col" >Action
                </td>
                <td scope="col">Item</td>
                <td scope="col" >Qty</td>
                <td scope="col" >Price</td>
                </tr>
            </thead>
            <tbody>
                @for (item of tabs[selectedTab].bill.billItems; track $index) {
                    <tr>
                        <td>
                            <mat-icon style="cursor: pointer;" (click)="tabs[selectedTab].bill.billItems.splice($index, 1)">delete</mat-icon>
                        </td>
                        <td>
                            <input type="text" class="col-md-10"
                            placeholder="Pick one" [(ngModel)]="item.item"
                            matInput (input)="filterOptions(item.item)"
                            [matAutocomplete]="auto">
                                <mat-autocomplete 
                            #auto="matAutocomplete"
                            [displayWith]="getTitle.bind(this)">
                            <mat-option 
                                *ngFor="let item of filtereditems" 
                                [value]="item.id">
                                {{item.name}} - {{item.car}}
                            </mat-option>
                        </mat-autocomplete> 
                        
                        </td>
                        <td>
                            <input style="width: 100%;"  [(ngModel)]="item.quantity" />
                        </td>
                        <td>
                            <input style="width: 100%;"  [(ngModel)]="item.amount" />
                        </td>
                        
                    </tr>
                }
                
                
            </tbody>
            <tfoot>
                <tr>
                    <td> <button (click)="addBillItem()" style="margin-left: 10px;" mat-raised-button>
                        <mat-icon >add</mat-icon> Add Item
                    </button></td>
                    <!-- <td> Advance payment : <input placeholder="Advance payment" [(ngModel)]="tabs[selectedTab].bill.Advance"></td> -->
                    <td></td>
                    <td><b>Discount</b></td>
                    <td><input placeholder="Discount" [(ngModel)]="tabs[selectedTab].bill.discount"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                    <td>{{calculateTotal()}}</td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
</div>
