.bill-action-button{
    margin-left: 10px;
}
form {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
  }
  
  
  input {
    margin: 3px 0;
    padding: 8px;
  }
  
  button {
    margin-top: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  input{
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: groove;

  }

.tab-item{
    width: 300px;
}
td input{
    padding: 0px;
}
input:focus-visible{
    outline: none;
    border-bottom: 1px solid;
}
.nav-link.active{
    background-color: grey;
}
.nav-link{
    color: black;
}
button {
    color: black !important;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-custom{
    background-color: #fff;
    border-radius: 13px;
    margin-left: 9px;
}
.btn-custom:hover{
    background-color: #d3d3d3;
    border-radius: 13px;
}
.nav-item{
    cursor: pointer;
    
}
.nav-link:hover{
    box-shadow: var(--mdc-protected-button-hover-container-elevation-shadow, var(--mat-sys-level2));
}
thead td {
    background-color: #fafafa !important;
    border-right-width: 1px;
    border-top-width: 1px;
}