
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}
a {
    cursor: pointer;
}
.c-nav-link{
    margin-right: 10px;
}
.c-nav-link:hover
{
    background-color: #D3D3D3;
    border-radius: 10px;
}

.c-nav-link .link-secondary{
    background-color: #D3D3D3;
    border-radius: 10px;

}

@media only screen and (max-width: 765px) {
    .c-nav-link{
        margin-right: 0px;
    }
    
}
@media only screen and (max-width: 765px) {
    .text-end{
        display: none;
    }
    .app-name-header{
        display: none !important;
    }
    .app-body{
        margin-top: 5px;
        padding: 0px 10px 0px 10px
    }
    
}
@media only screen and (min-width: 765px) {
    .app-body{
        margin-top: 5px;
        padding: 0px 30px 0px 30px
    }
}
.header-logo-image{
    width: 50px;
    height: 50px;
}
  
