<div class="header-actions">
    <div *ngIf="isLoggedIn" (click)="openPanel('notification')" class="header-action-button">
        <mat-icon>notifications</mat-icon> <span class="notification-count">{{notifications.length}}</span>
    </div>
    
    <div *ngIf="isLoggedIn" (click)="openPanel('share')" class="header-action-button">
        <mat-icon>share</mat-icon>
    </div>
    <div *ngIf="isLoggedIn" class="header-action-button" (click)="openPanel('user')" >
        <div class="avatar">
            {{ getInitials() }}
            </div>
    </div>
    <div class="header-controls" *ngIf="!isLoggedIn">

        <button class="btn btn-primary" (click)="navigateToLogin()">Login</button>
    </div>
      
</div>
<div class="right-panel" *ngIf="showNotification">
    <div class="panel-body">
    <div class="header d-flex justify-content-between py-5">
        <span translate>Notifications</span>
        <div class="close-icon"><mat-icon (click)="showNotification=!showNotification">close</mat-icon></div>
    </div>
    <div class="content">
        <div class="notification-item" *ngFor="let notification of notifications">
                <div class="d-flex align-items-start" (click)="clickNotification(notification.id)">
                    <mat-icon class="notification-icon" [ngClass]="notification.type">
                        {{notification.type === 'info' ? 'info' : 'settings'}}
                    </mat-icon>
                    <div class="notification-content">
                        <h4 class="notification-title">{{notification.title}}</h4>
                        <p class="notification-message">{{notification.message}}</p>
                        <small class="notification-time">{{notification.time | date:'short'}}</small>
                    </div>
                </div>
            </div>
    </div>
</div>  
</div>
<div  class="right-panel" *ngIf="showSettings">
     <div class="panel-body" style="bottom: unset;">
    <div class="header d-flex justify-content-between py-5">
        <div>
             
        <span>Hi! {{user?.username}}</span>
        <p>Organization : {{user?.client?.name}}</p>
        <div class="link" (click)="settings()"><mat-icon>settings</mat-icon>Settings</div>

        <div class="link" style="margin-top: 10px;" (click)="logout()"><mat-icon>logout</mat-icon> Sign out</div>
        </div>
        <div class="close-icon"><mat-icon (click)="showSettings=!showSettings">close</mat-icon></div>
        </div>
    </div>
</div>
<div class="right-panel" *ngIf="showShareOptions">
     <div class="panel-body">
    <div class="header d-flex justify-content-between py-5">
        <span translate>Share</span>
        <div class="close-icon"><mat-icon (click)="showShareOptions=!showShareOptions">close</mat-icon></div>
    </div>
    <div class="content">
        <p translate>Know people who would love 'Shrivo'?</p>
        <p translate>Refer now and earn 1 month free subscription</p>

        <div>
            <span translate>Copy Link:</span>  <mat-icon style="cursor: pointer;"  (click)="copyInput()" >content_copy</mat-icon>
        </div>
        <div>
            <span translate>Share on</span>  <a href="https://wa.me/?text=Check%20this%20out%20{{ url }}" target="_blank">
                <img src="whatsapp.svg" height="50" width="50"/>
            </a>
        </div>
        </div>
</div>